@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Nav bar */

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.devider1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 50%;
}

.airbnb {
    display: flex;
    height: 75%;
    width: 200px;
    margin-left: 250px;
    align-items: center;
}

.logo {
    margin: 40px;
}

.devider2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.nav1, .nav2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    text-decoration: underline;
    font-weight: 500;
}

.nav1 {
    margin-left: 200px;
    width: 150px;
}

.nav2 {
    margin-right: 80px;
    width: 80px;
}

.mflex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 582.38px;
}

.main1 {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 10px;
    padding-top: 48px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 204.266px;
    width: 100%;
    height: 100%;
}

.main1 img.main-image {
    border-radius: 10px;
    object-fit: cover;
    object-position: right;
    width: 960px;
    height: 534.38px;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 354px;
    height:auto;
    /* max-width: 800px; */
    z-index: 1;
    left: 20%;
    gap: 16px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}


.search-box h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

.search-box p {
    font-size: 16px;
    color: #666;
    margin-bottom: 16px;
}


.input-label {
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.input-field {
    padding: 10px;
    font-size: 16px;
    border:  none;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #e31c5f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.borderline{
    border: none;
    margin:none;
    padding :1px;
    padding-top:5px;
}

.search-flex{
    display: flex;
    justify-content:row;

}

.pad1{
    padding-right:80px;
}

.feat1{
    height:373px;
    width: 100%;
    background-color: white;
    padding: 48px 0px;
}

.f1{
    /* display: flex;
    flex-direction: column; */
    margin : 0 11.3%;
    padding: 48px 80px;
}

.f2{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap:50px;
    align-items: flex-start;
}

.f3{
    width:35%;
}


.font1{
    font-size: 22px;
    font-weight: 430;
    padding-bottom: 10px;
}

.iconsp{
    padding-bottom: 24px;
}

.icons1{
    width:32px;
    height:31px;
}

.font{
    font-size: 18px;
    text-align: start;
}

.op1 {
    width: 100%;
    background-color: white;
    height: 652px;
}

.op2 {
    margin: 0 205px;
    width: 1440px;
    padding: 48px 80px;
    height: 652px;
}

.opfont1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 40px; 
    text-align: left;
}

.opf1 {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.op-image {
    flex: 1 1 auto;
    max-width: 416px; /* Ensures images don’t exceed 416px in width */
    text-align: center;
}

.img1 {
    width: 416px;
    height: 416px;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 8px;
}

.h1 {
    font-weight: 500;
}

.text-icon-container {
    display: inline-flex;
    gap: 8px;
}

.op-image p {
    font-size: 14px;
    color: #555;
}

.a1{
    height: 727px;
    display: flex;
    justify-content: center;
}

.a2{
    height: 727px;
    width: 100%;
    margin: 0px 208px;
    padding-top:96px;
    padding-bottom: 48px;
    padding-left: 80px;
    padding-right: 80px;
}

.at1a{
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 10px;
}

.at1b{
    font-size: 19px;
    padding-bottom: 40px;
    font-weight: 400;
}

.atimage{
    display: flex;
    flex-direction: row;
}
.ati1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height:286px;
    max-width:302px;
    gap:20px;
}

.at1c{
    height: 286px;
    width: 302px;
    border-radius: 10px;
}


.cap1{
    font-size: 18px;
    font-weight: 450;
    padding-bottom: 7px;
    padding-top:7px;
}

.capa1{
    font-size: 14px;
    color: #555;
    padding-bottom: 3px;
}

.fw1{
    font-weight: 500;
    padding-right: 4px;
}

.x1{
    display: flex;
    flex-direction: row;
}

.zx1{
    display: flex;
    flex-direction: row;
}

.zxc1{
    padding-left: 3px;
    color: #555;
}

.atx1{
    display:flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.atxc1{
    display: flex;
}
.svg1{
    padding-top:7px;
    padding-left: 45px;
    display: flex;
    flex-direction: row;
}

.svgf1{
    font-weight: 400;
    padding-top:5px;
    padding-left:3px;
}

.buttona1{
    padding-top: 150px;
}

.button1{
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 450;
    background-color: white;
    border-radius: 8px;
    border-color: #555;
    border-width: 1px;
    transition: 0.5ms;
}

.button1:hover{
    background-color: rgba(167, 167, 167, 0.096);
}

.am1{
    height:460px;
    background-color: rgba(128, 128, 128, 0.089);
}

.am2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:460px;
    width:1440px;
    padding:96px 80px;
    margin: 0px 208px;
}

.ap1{
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 10px;
}

.ap2{
    color: #666;
    font-size: 18px;
    padding-bottom: 24px;
}

.ab1{
    height:76px;
    width:306px;
    background-color: white;
    border-radius: 10px;
    border-color: #66666628;
    border-width: 1px;
    display:flex;
    flex-direction: row;
}

.bspace1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.baf1{
    font-size: 20px;
    font-weight: 400;
    padding: 25px 15px;
}


.bas1{
    height: 40px;
    width: 50px;
    padding-top:25px;
    padding-left: 20px;
}

.la1{
    height:709px;
    width: 1857px;
    /* background-color: grey; */
}

.la2{
    width: 1440px;
    height: 709px;
    margin:0px 208px;
    padding: 96px 80px 48px 80px;
}

.na1{
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 2px;
}

.xxa1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.xa1{
    width:415px;
    height:469px;
    /* background-color: white; */
    border-radius: 15px;
}

.na2{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 24px;
}

.xa3 img{
    border-radius: 15px;
}

.xa4{
    font-weight: 500;
    word-spacing: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.xa5{
    font-size: 16px;
    color: #666;
    padding-bottom: 24px;
}

.za1{
    width:1857px;
    height:473px;
}

.za2{
    width:1440px;
    height:473px;
    padding:48px 80px;
    margin:0px 208px;
    display: flex;
    flex-direction: row;
}

.za3{
    margin-right:48px;
    width:616px;
    height: 377px;
}

.zaf1{
    font-size: 48px;
    font-weight: 500;
}

.za4{
    display: flex;
    flex-direction: column;
}

.za5{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-color:rgba(128, 128, 128, 0.527) ;
    border-width: 1px;
}

.zaf2{
    font-size: 24px;
    font-weight: 400;
}

/* footer */

.footerm{
    background-color: #f4f4f4;
    border-top: 0.01px solid rgba(102, 102, 102, 0.3); 
}

.footer1{
    height:70px;
    width:auto;
    padding: 0px 80px;
    margin:0px 208px;
}

.footer2{
    padding: 24px 0px;
}



